{% extends "base.html" %}

{% block content %}
<h1>管理画面</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">UserClass</th>
            <th scope="col">SuperiorID</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <p>{{ key }}: {{ user[key] }}</p>
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.user_class }}</td>
            <td>{{ user.superior_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}