{% extends "base.html" %}

{% block content %}
<h1>新規ユーザー登録画面</h1>
<form method="POST" action="/register">
    <div class="form-group">
        <label class="control-label">名前</label>
        <input name="name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">メールアドレス</label>
        <input name="email" type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">パスワード</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">登録</button>
    </div>
</form>
{% endblock %}